@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {

  --bgdrop: #7bb9a0;
  --background: #ffffff;
  --foreground: #171717;
  --font-jakarta: "Plus Jakarta Sans", sans-serif, system-ui;
}

@theme inline {
  --color-bgdrop: var(--bgdrop);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}

